<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GreenWave.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EF74FA9023D0C3D176027D84F5941A707800CDEB</string>
				<key>dateExpires</key>
				<string>25/10/21</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF74FA9023D0C3D176027D84F5941A707800CDEB</string>
						<key>dateExpires</key>
						<string>25/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AKMaskField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G35H88J7LS</string>
						<key>name</key>
						<string>Companhia Brasileira de Solucoes e Servicos</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF74FA9023D0C3D176027D84F5941A707800CDEB</string>
						<key>dateExpires</key>
						<string>25/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G35H88J7LS</string>
						<key>name</key>
						<string>Companhia Brasileira de Solucoes e Servicos</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF74FA9023D0C3D176027D84F5941A707800CDEB</string>
						<key>dateExpires</key>
						<string>25/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CPF_CNPJ_Validator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G35H88J7LS</string>
						<key>name</key>
						<string>Companhia Brasileira de Solucoes e Servicos</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF74FA9023D0C3D176027D84F5941A707800CDEB</string>
						<key>dateExpires</key>
						<string>25/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G35H88J7LS</string>
						<key>name</key>
						<string>Companhia Brasileira de Solucoes e Servicos</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF74FA9023D0C3D176027D84F5941A707800CDEB</string>
						<key>dateExpires</key>
						<string>25/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainAccess.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G35H88J7LS</string>
						<key>name</key>
						<string>Companhia Brasileira de Solucoes e Servicos</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF74FA9023D0C3D176027D84F5941A707800CDEB</string>
						<key>dateExpires</key>
						<string>25/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G35H88J7LS</string>
						<key>name</key>
						<string>Companhia Brasileira de Solucoes e Servicos</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF74FA9023D0C3D176027D84F5941A707800CDEB</string>
						<key>dateExpires</key>
						<string>25/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G35H88J7LS</string>
						<key>name</key>
						<string>Companhia Brasileira de Solucoes e Servicos</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF74FA9023D0C3D176027D84F5941A707800CDEB</string>
						<key>dateExpires</key>
						<string>25/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxGesture.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G35H88J7LS</string>
						<key>name</key>
						<string>Companhia Brasileira de Solucoes e Servicos</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF74FA9023D0C3D176027D84F5941A707800CDEB</string>
						<key>dateExpires</key>
						<string>25/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G35H88J7LS</string>
						<key>name</key>
						<string>Companhia Brasileira de Solucoes e Servicos</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF74FA9023D0C3D176027D84F5941A707800CDEB</string>
						<key>dateExpires</key>
						<string>25/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Swinject.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G35H88J7LS</string>
						<key>name</key>
						<string>Companhia Brasileira de Solucoes e Servicos</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF74FA9023D0C3D176027D84F5941A707800CDEB</string>
						<key>dateExpires</key>
						<string>25/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G35H88J7LS</string>
						<key>name</key>
						<string>Companhia Brasileira de Solucoes e Servicos</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EF74FA9023D0C3D176027D84F5941A707800CDEB</string>
						<key>dateExpires</key>
						<string>25/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Valet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G35H88J7LS</string>
						<key>name</key>
						<string>Companhia Brasileira de Solucoes e Servicos</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>G35H88J7LS.br.com.alelo.GreenWave</string>
				<key>com.apple.developer.team-identifier</key>
				<string>G35H88J7LS</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>G35H88J7LS.br.com.alelo.GreenWave</string>
				</array>
			</dict>
			<key>name</key>
			<string>GreenWave.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>35e8d60f-c03b-4066-9453-37a0999deaa8</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: br.com.alelo.GreenWave</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>G35H88J7LS</string>
				<key>name</key>
				<string>Companhia Brasileira de Solucoes e Servicos</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
