<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://tucobz.github.io/ov_release/ondaverde/GreenWave.ipa</string>
		<key>displayImageURL</key>
		<string>https://tucobz.github.io/ov_release/ondaverde/Icon-App-57x57%401x.png</string>
		<key>fullSizeImageURL</key>
		<string>https://tucobz.github.io/ov_release/ondaverde/ItunesArtwork%40512.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>br.com.alelo.GreenWave</key>
		<string>In House Profile</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>G35H88J7LS</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
